<h1><%= @restaurant.name %></h1>



<p>Le restaurant se trouve à <%= @restaurant.address %>.</p>
<p>Son numéro de téléphone est le suivant : <%= @restaurant.phone_number %>.</p>
<p>C'est un restaurant <%= @restaurant.category %>.</p>

<p>Les avis :</p>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.content %> - <%= review.rating %> étoile(s)</li>
  <% end %>
</ul>



<div class="container">

  <h1>Ajouter un avis</h1>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, input_html: { min: '0', max: '5' } %>
        <%= f.submit "Ajouter", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
